*{margin: 0px; padding: 0px; box-sizing: border-box;}

.heading1{
    color: brown;
    text-align: center;
    margin: 30px 0px;
    text-transform: capitalize;
    font-family: sans-serif;

}

.img_style img{
    width: 200px;
    height: 150px;
    margin: 5px;
}

.img_style {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
    
}

body{
    background-color: #b4f2e1;
    font-family: "josefin sans", sans-serif;
}

.div_tchange{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;

}

.HelloSir {
    padding: 20px;
    background-color: #ffe9c5;
    color: #fa9191;
    border-radius: 20px;
}

span{
    color: #eb6383;
}